body {
  background: #77c3ec;
}

img {
  width: 30%;
  height: 30%;
  border-radius: 20%;
  box-shadow: 10px 10px rgb(238, 130, 238);
}

div {
  text-align: center;
}

span {
  font-weight: bold;
  font-size: 15px;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-style: italic;
}

p {
  font-size: 25px;
}
#caption{
  background-color: violet;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
 margin-top: 80px;
border: dotted 3px navy;
border-radius: 10px;
}
ul{ 
  text-align: center;
 list-style-position: inside;
 font-size: 20px;
}
